.menu {
    width: 200px;
    height: 100vh;
    background-color: royalblue;
    position: fixed;
    top: 70px;
    right: -200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    transition: all 1s ease;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu ul {
    list-style: none;
    margin-top: 2rem;
    width: 60%;
}

.menu li {
    list-style: none;
    margin-block: 15px;
}

.menu li:hover {
    font-weight: bold;
}