.intro{
  background-color: white;
  display: flex;
  /* height: 100px; */
}


.leftIntro{
  /* background-color: yellow; */
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.rightIntro{
  /* background-color: red; */
  width: 45%;
}
.rightIntro::-webkit-scrollbar{
  display: none;
}

#myImage{
  margin-top: 0rem;
  text-align: center;
  width: 35rem;
  height: 35rem;
  border-radius: 20rem;
  background-color: rgb(216, 14, 34);
}

#name{
  font-weight: bold;
  font-size: 55px;
  margin-block: 8px;
}

#hii, #what{
  font-weight: bold;
  font-size: 30px;
  
}

