.box {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 150px auto;
  padding: 30px;
  background-color: rgb(93, 91, 89);
}

#text {
  background-color: black;
  color: white;
  height: 80px;
  width: 400px;
}

#btn {
  margin: 20px;
  width: 110px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  border: 1px solid white;
  background-color: rgb(76, 178, 240);
  border-radius: 10px;
  cursor: pointer;

}
#btn:hover{
  background-color: rgb(54, 223, 105);
}

#heading{
  color:rgb(20, 19, 21);
}

#para{
  font-weight:blod;
  color:white;
  background-color: black;
}